In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'C:\\Users\\15125\\Desktop\\CAPSTONE PROJECT'

In [3]:
data_path_pen = "C:/Users/15125/Desktop/CAPSTONE PROJECT/CLEANED DATA/POST IMPUTATION PROCESSING/penetrating/"
data_path_blunt =  "C:/Users/15125/Desktop/CAPSTONE PROJECT/CLEANED DATA/POST IMPUTATION PROCESSING/blunt/"

In [4]:
train_pen = pd.read_csv("C:/Users/15125/Desktop/CAPSTONE PROJECT/CLEANED DATA/POST IMPUTATION PROCESSING/penetrating/X_train_penetrating_ofs.csv")
test_pen = pd.read_csv("C:/Users/15125/Desktop/CAPSTONE PROJECT/CLEANED DATA/POST IMPUTATION PROCESSING/penetrating/X_test_penetrating_ofs.csv")
train_blunt = pd.read_csv("C:/Users/15125/Desktop/CAPSTONE PROJECT/CLEANED DATA/POST IMPUTATION PROCESSING/blunt/X_train_blunt_ofs.csv")
test_blunt = pd.read_csv("C:/Users/15125/Desktop/CAPSTONE PROJECT/CLEANED DATA/POST IMPUTATION PROCESSING/blunt/X_test_blunt_ofs.csv")

In [5]:
pen = pd.concat([train_pen, test_pen])
blunt = pd.concat([train_blunt, test_blunt])

In [20]:
iqr_stats_pen = pen.describe().loc[[ '25%', '75%']]
iqr_stats_pen.loc['median'] = pen.median()
iqr_stats_pen

,age,sbp1,pulse1,oxysat1,temp1,gcstot1,bleeding_disorder,current_chemotherapy,congestive_heart_failure,current_smoker,...,rr2,drug_use_disorder,issais,morbidity,rr1,pulse2,acslevel,gcstot2,oxysat2,alcohol_use_disorder
25%,22.0,111.0,81.0,97.125586,36.200001,15.0,0.0,0.0,0.0,0.0,...,18.000000,0.0,9.0,0.0,17.0,88.000000,1.000000,15.0,96.416783,0.0
75%,40.0,145.0,110.0,100.000000,36.799999,15.0,0.0,0.0,0.0,1.0,...,21.817592,0.0,17.0,0.0,22.0,108.502581,1.238188,15.0,99.000000,0.0
median,29.0,130.0,95.0,99.000000,36.516841,15.0,0.0,0.0,0.0,0.0,...,20.000000,0.0,10.0,0.0,20.0,97.784836,1.000000,15.0,97.873267,0.0

In [23]:
iqr_stats_blunt = blunt.describe().loc[[ '25%', '75%']]
iqr_stats_blunt.loc['median'] = blunt.median()
iqr_stats_blunt

,age,sbp1,pulse1,oxysat1,temp1,gcstot1,bleeding_disorder,current_chemotherapy,congestive_heart_failure,current_smoker,...,rr2,drug_use_disorder,issais,morbidity,rr1,pulse2,acslevel,gcstot2,oxysat2,alcohol_use_disorder
25%,35.0,123.0,74.0,96.0,36.299999,15.0,0.0,0.0,0.0,0.0,...,16.0,0.0,9.0,0.0,16.0,80.0,1.000000,14.0,95.897909,0.0
75%,71.0,156.0,99.0,99.0,36.799999,15.0,0.0,0.0,0.0,0.0,...,20.0,0.0,17.0,0.0,20.0,98.0,1.479405,15.0,98.000000,0.0
median,55.0,139.0,86.0,98.0,36.599998,15.0,0.0,0.0,0.0,0.0,...,18.0,0.0,10.0,0.0,18.0,88.0,1.000000,15.0,97.000000,0.0

In [25]:
iqr_stats_pen.to_csv('pen_median_stats.csv')
iqr_stats_blunt.to_csv('blunt_median_stats.csv')

In [7]:
len(pen)

79315

In [8]:
len(blunt)

791160